# Rust
/api/target
**/*.rs.bk

# Node
node_modules
.next
out
/.next/
/out/
/build
*.tsbuildinfo
next-env.d.ts

# Test snapshots and coverage
__snapshots__/
*.snap
coverage/
.nyc_output/

# Env
.env
.env*.local

# OS / editor
.DS_Store
.idea
.vscode/*
!.vscode/extensions.json

# Vercel
.vercel/

# Package manager caches
.npm/
.yarn/cache
.pnp.*
